@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Bold.ttf) format("truetype");
    src: url(fonts/OpenSans-Bold.woff) format("woff");
    src: url(fonts/OpenSans-Bold.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.ttf) format("truetype");
    src: url(fonts/OpenSans-Regular.woff) format("woff");
    src: url(fonts/OpenSans-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
}
/* Начало кода Фитбека */
.fitback {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none; 
    /* flex */
}

.case {
    display: none;
    position: fixed;
    width: 400px;
    background-color: #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.chose {
    font-family: "Open sans", sans-serif;
}

.CloseButton_fitback {
    position: absolute;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-x.svg);
    background-color: rgba(0,0,0,0);
    width: 15px;
    height: 15px;
    top: -20px;
    right: -20px;
    cursor: pointer;
}

.question_fitback {
    width: 336px;
    height: 40px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f3f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 10px 15px;
    background-position:center right 5px;
    padding-left: 20px;
    box-sizing: border-box;
}

.text_fitback {
    min-width: 336px;
    min-height: 150px;
    max-width: 336px;
    max-height: 150px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f3f7f6;
    margin-bottom: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.button_fitback {
    height: 70px;
    width: 340px;
    background-color: #b59f5b;
    outline: none;
    border: none;
    appearance: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.radio {
    width: 15px;
    height: 15px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 25px;
    cursor: pointer;
}

.form_radio {
    display: flex;
    gap: 10px;
}

#first:checked ~ .radio {
    background-image: url(../svg/form-circle.svg);
}

#second:checked ~ .radio {
    background-image: url(../svg/form-circle.svg);
}

.text_in_fitback {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
/* Начало основного кода */
body {
    margin: 0;
    position: relative;
}

.text {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

@keyframes slides {
    from {
        
    }
    50% {
        
    }
    to {
        background-image: url(../images/trend1.jpg);
    }
}

.header {
    width: 100%;
    background-color: #000000; 
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.header::after {
    content: "";
    background-image: url(../images/banner-bg.jpg);
    animation-name: slides;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header::after {
        content: "";
        background-image: url(../images/banner-bg-tablet.jpg);
    }
}

@media (max-width: 768px) {
    .header::after {
        content: "";
        background-image: url(../images/banner-mobile.jpg);
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
    margin: auto;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.button_burger {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.list_item_nav {
    color: #ffffff;
}

.noemi_logo {
    width: 100px;
}

.title {
    display: block;
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    width: 620px;
    margin: 80px auto 0;
}

.menu {
    display: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        width: 768px;
        justify-content: space-around;
    }

    .menu {
        display: block;
        width: 25px;
        align-self: flex-end;
    }
    
    .navigation {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        align-items: end;
        width: 100%;
    }

    .title {
        width: 75%;
    }

    .noemi_logo {
        width: 75%;
    }

    .noemi_case {
        align-self: center;
        text-align: center;
    }

    .menu {
        display: block;
        width: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .navigation {
        display: none;
    }
}

.main_title_container {
    text-align: center;
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
}

.main_title::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.trend_container {
    --gap: 6px;
    width: 100%;
    display: flex;
    gap: var(--gap);
    object-fit: cover;
}

.trend {
    min-height: 330px;
    width: 25%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) and (max-width: 1200px) { 
    .trend {
        min-height: 260px;
        width: calc(100% / 2 - 3px);
    }

    .trend_container {
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .trend {
        min-height: 245px;
        width: 100%;
    }

    .trend_container {
        flex-wrap: wrap;
        width: 100%;
    }
}

.trend_one::after {
    content: "";
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    background-image: url(../images/trend1.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trend_two::after {
    content: "";
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    background-image: url(../images/trend2.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trend_three::after {
    content: "";
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    background-image: url(../images/trend3.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trend_four::after {
    content: "";
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    background-image: url(../images/trend4.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trend_text {
    color: #ffffff;
    font-weight: 700;
}

.trend_text:hover {
    color: #b59f5b;
}

.trend_tegs_text {
    margin: 26px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    border: #b59f5b solid 3px;
}

.tegs_news {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}

.tegs {
    font-size: 14px;
    color: #b59f5b;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

@media (max-width: 768px) {
    .trend_tegs_text {
        padding: 10px;
    }
}

ul.tegs_news > li > a.tegs {
    line-height: normal;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.main_news {
    width: 800px;
    display: flex;
    gap: 35px;
    align-items: flex-start;
}

@media (min-width: 768px) and (max-width: 1200px) { 
    .main {
        width: 100%;
        box-sizing: border-box;
        gap: 40px;
        padding: 0 40px;
    }

    .main_news {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .main_news::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
    }

    .image_news {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main {
        width: 100%;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin-top: 65px;
        box-sizing: border-box;
    }

    .main_news {
        flex-direction: column;
        width: 100%;
    }

    .main_news::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
    }

    .image_news {
        width: 100%;
        object-fit: cover;
    }
}

.main_news:not(:last-child) {
    margin-bottom: 65px;
}

.title_news {
    font-size: 20px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: 700;
}

a.title_news:hover {
    color: #b59f5b;
}

.date_news {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.autor_news {
    margin-left: 20px;
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.maintext_news {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

h5.main_title {
    margin-top: 0;
}

.aside_container {
    width: 280px;
}

.mini_news {
    display: flex;
    margin-bottom: 30px;
}

.info_mini {
    margin-left: 20px;
}

.title_mini {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.title_mini:hover {
    color: #b59f5b;
}

.search {
    height: 50px;
    width: 100%;
    background-color: #f4f7f6;
    outline: none;
    border: none;
    appearance: none;
    padding: 0 20px 0 20px;
    margin-top: 35px;
}

.search_icon {
    width: 50px;
    height: 50px;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin-top: 35px;
}

.search_icon:hover {
    background-color: #1a1a1a;
}

.search_container {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: end;
}

.email {
    height: 50px;
    width: 100%;
    background-color: #f4f7f6;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

.button {
    height: 50px;
    width: 100%;
    background-color: #b59f5b;
    outline: none;
    border: none;
    appearance: none;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.button:hover {
    background-color: #1a1a1a;
}

.tegs_container {
    width: 280px;
}

.tegs_style {
    list-style-type: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #0f0d0e;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 7px;
    padding-left: 0px;
}

.teg {
    border: 2px solid #ededed;
    padding: 8px 16px;
}

.teg:hover {
    border: 2px solid #b59f5b;
}

.tems_style {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    gap: 23px;
}

.tems {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    gap: 4px;
    padding-bottom: 20px;
}

li.tems > a:hover {
    color: #b59f5b;
}

.number_tems {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    vertical-align: top;
}

@media (max-width: 768px) {
    .aside_container {
        width: 100%;
    }

    label {
        width: 100%;
    }

    .search {
        width: 100%;
    } 

    .tegs_container {
        width: 100%;
    }
}

main > div.main_title_container {
    margin-top: 70px;
}

.footer_container {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: auto;
    width: 1200px;
}

.create {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px) and (max-width: 1200px) { 

    .footer_container {
        width: calc(100% - 80px);
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 25;
        padding-right: 40px;
        padding-left: 40px;
    }

    .create {
        width: calc(100% / 2 - 100px);
    }

    .image_shop {
        align-self: center;
    }
}

@media (max-width: 768px) {

    .footer_container {
        width: 100%;
        flex-wrap: wrap;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .create {
        width: 100%;
        box-sizing: border-box;
    }

    .image_shop {
        align-self: center;
    }
}

.create_text {
    border: #b59f5b solid 4px;
    margin: -35px;
    padding: 35px;
}

.link_shop {
    color: #b59f5b;
}

.cost {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    position: relative;
}

.button_shop {
    width: 150px;
    height: 60px;
    background-color: #b59f5b;
    color: #fff;
    outline: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

.button_shop:hover {
    background-color: #1f1f1f;
}

.cost_container {
    display: flex;
    flex-direction: column;
}

.create_cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.discount {
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: solid black line-through;
}

.footer {
    width: 1200px;
    background-color: #f4f7f6;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.svg_cont {
    display: flex;
    gap: 40px;
}

#dribbble {
    width: 30px;
    height: 80px;
    background-image: url(../svg/001-dribbble.svg);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

#pinterest {
    width: 30px;
    height: 80px;
    background-image: url(../svg/002-pinterest.svg);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

#tumblr {    
    width: 30px;
    height: 80px;
    background-image: url(../svg/003-tumblr.svg);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.end {
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

.screenrider {
    display: none;
}

@media (min-width: 768px) and (max-width: 1200px) { 
    .footer {
        width: calc(100% - 80px);
    }
}

@media (max-width: 768px) {
    .footer {
        width: 380px;
    }
}
