@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Bold.ttf) format("truetype");
    src: url(fonts/OpenSans-Bold.woff) format("woff");
    src: url(fonts/OpenSans-Bold.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.ttf) format("truetype");
    src: url(fonts/OpenSans-Regular.woff) format("woff");
    src: url(fonts/OpenSans-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
}
/* Начало кода Фитбека */
.fitback {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.case {
    display: none;
    position: fixed;
    width: 400px;
    height: 600px;
    background-color: #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.chose {
    font-family: "Open sans", sans-serif;
}

.X {
    position: absolute;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-x.svg);
    background-color: rgba(0,0,0,0);
    width: 15px;
    height: 15px;
    top: -20px;
    right: -20px;
    cursor: pointer;
}

.question_fitback {
    width: 336px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #f3f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 10px 15px;
    background-position:center right 5px;
    padding: 20px;
    box-sizing: border-box;
}

.text_fitback {
    min-width: 336px;
    min-height: 150px;
    max-width: 336px;
    max-height: 150px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f3f7f6;
    margin-bottom: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.button_fitback {
    height: 70px;
    width: 340px;
    background-color: #b59f5b;
    outline: none;
    border: none;
    appearance: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.radio {
    width: 15px;
    height: 15px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 25px;
    cursor: pointer;
}

.form_radio {
    display: flex;
    gap: 10px;
}

#first:checked ~ .radio {
    background-image: url(../svg/form-circle.svg);
}

#second:checked ~ .radio {
    background-image: url(../svg/form-circle.svg);
}

.text_in_fitback {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
/* Начало основного кода */
body {
    margin: 0;
    position: relative;
}

.text {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

.header {
    width: 100%;
    background-color: #000000; 
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.header::after {
    content: "";
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    margin: auto;
}

.navigation {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.list_item_nav {
    color: #ffffff;
}

.noemi_logo {
    width: 100px;
}

.title {
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    width: 679px;
}

.main_title_container {
    text-align: center;
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
}

.main_title::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.trend_container {
    width: 100%;
    display: flex;
    gap: 6px;
    object-fit: cover;
    position: relative;
}

.trend {
    min-height: 330px;
    width: 25%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
}

.trend_one::after {
    content: "";
    z-index: -1;
    opacity: 0.6;
    position: absolute;
    background-image: url(../images/trend1.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trend_two::after {
    content: "";
    z-index: -1;
    opacity: 0.6;
    position: absolute;
    background-image: url(../images/trend2.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trend_three::after {
    content: "";
    z-index: -1;
    opacity: 0.6;
    position: absolute;
    background-image: url(../images/trend3.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trend_four::after {
    content: "";
    z-index: -1;
    opacity: 0.6;
    position: absolute;
    background-image: url(../images/trend4.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.trend_text {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
}

.trend_tegs_text {
    margin: 26px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    border: #b59f5b solid 3px;
}

.tegs_news {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}

.tegs {
    font-size: 14px;
    line-height: 40px;
    color: #b59f5b;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 20px;
}

ul.tegs_news > li > a.tegs {
    line-height: normal;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main_news {
    width: 800px;
    display: flex;
    gap: 35px;
    align-items: flex-start;
}

.main_news:not(:last-child) {
    margin-bottom: 65px;
}

.title_news {
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
}

.date_news {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.autor_news {
    margin-left: 20px;
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.maintext_news {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.aside_container {
    width: 280px;
}

.mini_news {
    display: flex;
    margin-bottom: 30px;
}

.info_mini {
    margin-left: 20px;
}

.title_mini {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.search {
    height: 50px;
    width: 230px;
    background-color: #f4f7f6;
    outline: none;
    border: none;
    appearance: none;
    padding: 0 20px 0 20px;
    margin-top: 35px;
}

.search_icon {
    width: 50px;
    height: 50px;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin-top: 35px;
}

.search_container {
    display: flex;
    cursor: pointer;
}

.email {
    height: 50px;
    width: 100%;
    background-color: #f4f7f6;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

.button {
    height: 50px;
    width: 100%;
    background-color: #b59f5b;
    outline: none;
    border: none;
    appearance: none;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.tegs_container {
    width: 280px;
}

.tegs_style {
    list-style-type: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #0f0d0e;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 7px;
    padding-left: 0px;
}

.teg {
    border: 2px solid #ededed;
    padding: 8px 16px;
}

.tems_style {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    gap: 23px;
}

.tems {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    gap: 4px;
    padding-bottom: 20px;
}

.number_tems {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    vertical-align: top;
}

.footer_container {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: auto;
    width: 1200px;
}

.create {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.create_text {
    border: #b59f5b solid 4px;
    margin: -35px;
    padding: 35px;
}

.link_shop {
    color: #b59f5b;
}

.cost {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    position: relative;
}

.button_shop {
    width: 150px;
    height: 60px;
    background-color: #b59f5b;
    color: #fff;
    outline: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

.cost_container {
    display: flex;
    flex-direction: column;
}

.create_cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.discount {
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: solid black line-through;
}

.footer {
    width: 1200px;
    background-color: #f4f7f6;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.svg_cont {
    display: flex;
    gap: 40px;
}

#dribbble {
    width: 30px;
    height: 80px;
    background-image: url(../svg/001-dribbble.svg);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

#pinterest {
    width: 30px;
    height: 80px;
    background-image: url(../svg/002-pinterest.svg);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

#tumblr {    
    width: 30px;
    height: 80px;
    background-image: url(../svg/003-tumblr.svg);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.end {
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.screenrider {
    display: none;
}